body {
  background-color: white;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.card-body{
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: whitesmoke;
}

.card:hover{
  transform: scale(1.04);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.bottom-nav{
  position: fixed;
  bottom: 0;
}

div.container div.card:last-of-type{
  margin-bottom: 70px;
}

.index-title{
  text-align: center;
  padding-top: 7px;
}

.login-form {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 400px;
}

.login-header {
  text-align: center;
}

.email-form {
  margin-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.top-link:hover {
  color: gray;
}