body {
  background-color: white;
  min-height: 100vh;
}
.card-body{
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: whitesmoke;
}

.card:hover{
  transform: scale(1.03);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.bottom-nav{
  position: fixed;
  bottom: 0;
}

div.container div.card:last-of-type{
  margin-bottom: 70px;
}

