{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Jobs</h1>
    <div class="container">
      {% for job in job_posts.items %}
        {% if current_user == job.author %}
          <div class="card">
            <div class="car-boy">
              <h2>
                <a class="card-title" href="{{url_for('job_posts.job_post', job_post_id=job.id)}}">
                  <div>{{job.company}}${{job.pay}}</div>
                </a>
              </h2>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}