{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1 class="index-title">Jobs</h1>
    <div class="container">
      {% for job in job_posts.items %}
        {% if current_user == job.author %}
          <div class="card">
            <a class="card-body" href="{{url_for('job_posts.job_post', job_post_id=job.id)}}">
              <div>{{job.company}}</div>
              <div>{{job.title}}</div>
              <div>${{job.pay}}</div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center bottom-nav">
      {% for page_num in job_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if job_posts.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
</nav>
{% endblock %}