{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ job.title }}</h1>
  <p>Company: {{job.company}}</p>
  <p>Pay: ${{job.pay}}</p>
  {% if job.language %}
    <p>Language(s): {{job.language}}</p>
  {% endif %}
  {% if job.database %}
    <p>Database(s): {{job.database}}</p>
  {% endif %}
  {% if job.framework %}
    <p>Framework(s): {{job.framework}}</p>
  {% endif %}
  {% if job.author == current_user %}
    <div>
      <a class="btn btn-secondary" href="{{ url_for('job_posts.update', job_post_id=job.id)}}">Update</a>
      <br>
      <form action="{{ url_for('job_posts.delete_job', job_post_id=job.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    </div>
  {% endif %}
</div>
{% endblock content %}